body {
    font-family: 'Oswald', sans-serif;
    background-color: rgb(244, 234, 255);
}

h1 {
    font-size: 2em;
    color: rgb(152, 127, 222);
}

header {
    text-align: center;
    padding: 20px;
}

header img {
    width: 400px;
    height: 300px;
}

